
<section class="team">

  <h1>Who We Are</h1>

  <div class="members centered">
    <div class="chris" title="Co-Founder" firstName="Chris" lastName="Wirth">
      <img src="/assets/img/chris.jpg" alt="">
      <h2>Chris Wirth</h2>
      <h3>Co-Founder | Developer</h3>
    </div>
    <div class="paul" title="Co-Founder" firstName="Paul" lastName="Butler III">
      <img src="/assets/img/paul.jpg" alt="">
      <h2>Paul Butler III</h2>
      <h3>Co-Founder | Developer</h3>
    </div>
  </div>

</section>
