---
layout: default
title: Blackboard
base_url: "../../"
---
<section class="row centered">
    <div class="small-12 medium-6 columns">
      <section class="intro">
        <h2>What We Do</h2>
        <p>Blackboard is media studio comprised of multi-disciplined individuals working together to provide the best solution to your problems. We are commited to helping our clients for more than just profit. When we help others we are rewarded time and time again.</p>
        <!-- <a href="#" class="button">Learn More</a> -->
      </section>
    </div>
    <div class="small-12 medium-4 columns end">
      <img src="assets/img/what-we-do.svg" alt="">
    </div>
</section>


{% include our-team.html %}

{% include contact.html %}
